@media screen and (min-width: 600px) {
    .workout {
        margin-left: 20%;
        margin-right: 20%;
    }
}

body {
    font-size: 1.5em;
}

.wlink:hover {
    text-decoration: none;
    cursor: pointer;
}

.nextbtn {
    float: right;
}

.pagenr {
    text-align: center;
}
