<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />

    <title>Invictus Competition</title>

    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="../static/jquery-2.1.4.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/script.js"></script>

    <link href="../static/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Invictus Competition</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid workout">
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in result %}
                <tr>
                    <td>
                        <a class="workout_link" href="/workout/{{ item }}">{{ item }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-4">
                {% if paging_left %}
                <button type="button" id="prev" onclick="change_page('prev')" class="btn btn-primary">Prev</button>
                {% endif %}
            </div>
            <div class="col-xs-4">
                <p id="pager" class="pager">
                    {{ page }}
                </p>
            </div>
            <div class="col-xs-4">
                {% if paging_right %}
                <button type="button" id="next" onclick="change_page('next')" class="btn btn-primary next_btn">Next</button>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>
