<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

    <title>{{ title }}</title>

    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="../static/jquery-2.1.4.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>

    <link href="../static/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">CrossFit Invictus</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid workout">
        <h3>{{ title }}</h3>
        <p>{{ workout }}</p>
    </div>
</body>

</html>
